# Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Jetbrains IDE
.idea/*
!.idea/dictionaries
!.idea/copyright

# Miscellaneous
.DS_Store

# build
out/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
